body{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0%;

    background-color: aliceblue;
}

#topper{
    width: 99%;
    
}

#topper>*{
    text-align: center;
    column-gap: 2%;
}

#bookshelf{
    display: flex;flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
}

    .book{
        height: 25%;
        background-color: rgb(83, 197, 182);
        border: 5px groove rgb(15, 142, 36);
        border-radius: 1%;

        display: flex;
        align-items: center;
        column-gap: 4%;
    }

        .book>*{
            width: 12%;
        }

        .bookButt{
            justify-self: end;
            margin: 5px 10px;
        }

    #addBook{
        margin: 20px;
    }

    #bookForm{
        flex-direction: column;
        align-items: center;
    }

    #inputs{
        padding: 2% 25%;
        background-color: white;
        box-shadow: 1px 5px 10px -5px gray;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .input{
            padding: 2%;
            width: 45%;
        }

        .inBox:focus-visible{
            border: 3px groove #2ea44f;
        }

        input:valid{
            border: 2px groove #2ea44f;
        }

        input:invalid{
            border: 2px groove red;
        }

        #call{
            width: 100%;
            margin: 2% auto;
            text-align: center;
        }

        #valid{
            display: none;
            color: red;
        }

/* CSS */
.button-3 {
appearance: none;
background-color: #2ea44f;
border: 1px solid rgba(27, 31, 35, .15);
border-radius: 6px;
box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
font-size: 14px;
font-weight: 600;
line-height: 20px;
padding: 6px 16px;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
white-space: nowrap;

margin: 20px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
box-shadow: none;
outline: none;
}

.button-3:hover {
background-color: #2c974b;
}

.button-3:focus {
box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
outline: none;
}

.button-3:disabled {
background-color: #94d3a2;
border-color: rgba(27, 31, 35, .1);
color: rgba(255, 255, 255, .8);
cursor: default;
}

.button-3:active {
background-color: #298e46;
box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}